.active {
    color: red;
    font-weight: bold;
}
.customMenu {
    margin-top: 10px;
    height: 30px;
    border-bottom: 1px solid #000;
}
.customMenu li {
    list-style: none;
    float: left;
}
.customMenu li a {
    margin-right: 15px;
}